import { {{ pascalCase screenName }}Screen } from 'app/features/{{ dashCase featureName }}/{{ dashCase screenName }}-screen'
import Head from 'next/head'
import { userProtectedGetSSP } from 'utils/userProtected'
import { NextPageWithLayout } from 'pages/_app'

export const Page: NextPageWithLayout = () => {
  return (
    <>
      <Head>
        <title>{{ titleCase screenName }}</title>
      </Head>
      <{{ pascalCase screenName }}Screen />
    </>
  )
}

// Page.getLayout = (page) => <YourLayout>{page}</YourLayout>

export const getServerSideProps = userProtectedGetSSP()

export default Page
